/* .Form_cardt {
    width: 360px;
    padding: 99px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    margin-top: 100px;
} */
.Form_cardt {
    width: 360px;
    padding: 25px 25px 25px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    margin-top: 100px;
}
.card_float {
    position: absolute;
    top: -33px;
    left: 18px;
    width: 323px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    padding: 32px;
    border: unset;
    background-color: #282059;
    color: #fff;
    border-radius: 12px;
    box-shadow: #b6aaff 0px 7px 29px 0px;
}
.login_bottam1 span {
    font-size: 14px;
    color: #828282;
}
.login_bottam1 .a {
    text-decoration: none;
    color: #282059;
    font-size: 14px;
    font-weight: 700;
}
 
.login_bottam1 .a:hover {
    text-decoration: underline;
}
 
.login_btn {
    background-color: #282059;
    color: #fff;
    font-weight: 600;
}

.login_btn:hover {
    background-color: #282059;
    color: #fff;
    font-weight: 600;
}



.login_btnfb {
    background-color: #1877f2;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}

.login_btnfb:hover {
    background-color: #1877f2;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
}



.input-group > .form-control {

    padding-left: 8px !important;
}